
if TARGET_LAN969X

config SYS_BOARD
	default "lan969x"

config SYS_VENDOR
	default "microchip"

config SYS_SOC
	default "lan969x"

config SYS_CONFIG_NAME
	default "lan969x"

config TARGET_LAN969X_SRAM
	bool "Enable lan969x target for running in SRAM only"
	default n
	help
	  Enable u-boot to run only in SRAM

endif
