/dts-v1/;

#include "lan969x_a0.dtsi"
#include "lan969x.dtsi"

#include <dt-bindings/mscc/sparx5_data.h>

/ {
	model = "lan969x UNG8422 EVB";
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&fc0_pins>;
	pinctrl-names = "default";
};

&sdhci0 {
	status = "okay";
};

&emmc {
	status = "okay";
	pinctrl-0 = <&emmc_sd_pins>;
	pinctrl-names = "default";
};

&qspi {
	status = "okay";
	spi-flash@0 {
		status = "okay";
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <104000000>;
		u-boot,dm-pre-reloc;
	};
};

&gpio {
	mdio_pins: mdio-pins {
		pins = "GPIO_9", "GPIO_10";
		function = "miim";
	};
};

&mdio0 {
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";

	phy3: phy@3 {
		reg = <3>;
	};
};

&switch {
	status = "okay";
	ethernet-ports {
		port28: port@28 {
			reg = <28>;
			phy-handle = <&phy3>;
			phys = <IF_RGMII>;
		};
	};
};
